<!DOCTYPE HTML>
<meta charset=utf-8>
<title></title>
<meta name=viewport content='width=device-width, initial-scale=1, user-scalable=0'>
<script>
  _hmt = []
  document.getElementsByTagName('html')[0].style.fontSize = innerWidth / 7.2 + 'px'
</script>
<link rel=stylesheet href=../../Content/CSS/Common/reset.min.css>
<link rel=stylesheet href=../../Content/CSS/Common/clever.min.css>

<div id=app></div>

<script src=../../Scripts/Common/vue.min.js></script>
<script src=../../Scripts/Common/post.min.js></script>
<script src=../../Scripts/Common/clever.min.js></script>
<!-- <script src=//hm.baidu.com/hm.js?></script> -->
